<p id="alert" class="alert alert-success pgray  alert-lg" role='alert' style="display: none;"></p>
<div class="main-container">
  <div class="container">
    <ol class="breadcrumb pull-left">
      <li><a href="<%= root_path %>"><i class="icon-home fa"></i></a></li>
      <li><a href="<%= ads_path %>">Ads</a></li>
    </ol>
    <div class="pull-right backtolist"><a href=<%= url_for(:back) %>> <i class="fa fa-angle-double-left"></i> Back to Results</a></div>
  </div>
  <div class="container">
    <h2> Compare favorite ads </h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th> Ads </th>
          <th> <%= @ad1.title %> </th>
          <th> <%= @ad2.title %> </th>
          <% if @ad3.present? %>
            <th> <%= @ad3.title %> </th>
          <% end %>
        </tr>
        <tr>
          <th> Image </th>
          <td> <a href="<%= ad_path(@ad1) %>">
            <%= image_tag @ad1.photos.first.image.url(:thumb)%> </a>
          </td>
          <td> <a href="<%= ad_path(@ad2) %>">
            <%= image_tag @ad2.photos.first.image.url(:thumb)%> </a>
          </td>
          <% if @ad3.present? %>
            <td> <a href="<%= ad_path(@ad1) %>">
              <%= image_tag @ad3.photos.first.image.url(:thumb)%> </a>
            </td>
          <% end %>
        </tr>
        <tr>
          <th> Price </th>
          <td> <%=  number_with_delimiter(@ad1.price) %> </td>
          <td> <%=  number_with_delimiter(@ad2.price) %> </td>
          <% if @ad3.present? %>
            <td> <%=  number_with_delimiter(@ad3.price) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Brand </th>
          <td> <%= data(@ad1.brand_name) %> </td>
          <td> <%= data(@ad2.brand_name) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.brand_name) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Model </th>
          <td> <%= data(@ad1.vehicle_model_name) %> </td>
          <td> <%= data(@ad2.vehicle_model_name) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_model_name) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Description </th>
          <td> <%= data(@ad1.description) %> </td>
          <td> <%= data(@ad2.description) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.description) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Location </th>
          <td> <%= data(@ad1.location.try(:humanize)) %> </td>
          <td> <%= data(@ad2.location.try(:humanize)) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.location.try(:humanize)) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Prevous Owners: </th>
          <td> <%= data(@ad1.vehicle_detail.owner_count) %> </td>
          <td> <%= data(@ad2.vehicle_detail.owner_count) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.owner_count) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Insured till </th>
          <td> <%= date(@ad1.vehicle_detail.insurance_date) %> </td>
          <td> <%= date(@ad2.vehicle_detail.insurance_date) %> </td>
          <% if @ad3.present? %>
            <td> <%= date(@ad3.vehicle_detail.insurance_date) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Color </th>
          <td> <%= data(@ad1.vehicle_detail.color.try(:humanize)) %> </td>
          <td> <%= data(@ad2.vehicle_detail.color.try(:humanize)) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.color.try(:humanize)) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Fuel </th>
          <td> <%= data(@ad1.vehicle_detail.fuel) %> </td>
          <td> <%= data(@ad2.vehicle_detail.fuel) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.fuel) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Year of build </th>
          <td> <%= data(@ad1.vehicle_detail.manufacturing_date) %> </td>
          <td> <%= data(@ad2.vehicle_detail.manufacturing_date) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.manufacturing_date) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Mileage </th>
          <td> <%= data(@ad1.vehicle_detail.mileage) %> </td>
          <td> <%= data(@ad2.vehicle_detail.mileage) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.mileage) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Transmission </th>
          <td> <%= data(@ad1.vehicle_detail.transmission) %> </td>
          <td> <%= data(@ad2.vehicle_detail.transmission) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.transmission) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> No. of doors </th>
          <td> <%= data(@ad1.vehicle_detail.door_no) %> </td>
          <td> <%= data(@ad2.vehicle_detail.door_no) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.door_no) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Regional Spec </th>
          <td> <%= data(@ad1.vehicle_detail.regional_spec) %> </td>
          <td> <%= data(@ad2.vehicle_detail.regional_spec) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.regional_spec) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Engine Capacity </th>
          <td> <%= data(@ad1.vehicle_detail.capacity) %> </td>
          <td> <%= data(@ad2.vehicle_detail.capacity) %> </td>
          <% if @ad3.present? %>
            <td> <%= data(@ad3.vehicle_detail.capacity) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Alarm/Anti-Theft System </th>
          <td> <%= boolean(@ad1.vehicle_detail.cruise_control) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.cruise_control) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.cruise_control) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Navigation System </th>
          <td> <%= boolean(@ad1.vehicle_detail.navigation) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.navigation) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.navigation) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> 4 Wheel Drive </th>
          <td> <%= boolean(@ad1.vehicle_detail.fourwheel_drive) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.fourwheel_drive) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.fourwheel_drive) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> All Wheel Drive </th>
          <td> <%= boolean(@ad1.vehicle_detail.allwheel_drive) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.allwheel_drive) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.allwheel_drive) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Body-Kit </th>
          <td> <%= boolean(@ad1.vehicle_detail.body_kit) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.body_kit) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.body_kit) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Climate Control </th>
          <td> <%= boolean(@ad1.vehicle_detail.climate_control) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.climate_control) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.climate_control) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Keyless Entry </th>
          <td> <%= boolean(@ad1.vehicle_detail.keyless_entry) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.keyless_entry) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.keyless_entry) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Keyless Start </th>
          <td> <%= boolean(@ad1.vehicle_detail.keyless_start) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.keyless_start) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.keyless_start) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> AM/FM Radio </th>
          <td> <%= boolean(@ad1.vehicle_detail.radio) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.radio) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.radio) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Aux Audio In </th>
          <td> <%= boolean(@ad1.vehicle_detail.aux_audio) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.aux_audio) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.aux_audio) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Off-Road Kit </th>
          <td> <%= boolean(@ad1.vehicle_detail.offroad_kit) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.offroad_kit) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.offroad_kit) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Off-Road Tyre </th>
          <td> <%= boolean(@ad1.vehicle_detail.offroad_tyre) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.offroad_tyre) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.offroad_tyre) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Parking Sensors </th>
          <td> <%= boolean(@ad1.vehicle_detail.parking_sensor) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.parking_sensor) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.parking_sensor) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Moonroof </th>
          <td> <%= boolean(@ad1.vehicle_detail.moonroofs) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.moonroofs) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.moonroofs) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> CD Player </th>
          <td> <%= boolean(@ad1.vehicle_detail.cd_player) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.cd_player) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.cd_player) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> DVD Player </th>
          <td> <%= boolean(@ad1.vehicle_detail.dvd_player) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.dvd_player) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.dvd_player) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Power Mirrors </th>
          <td> <%= boolean(@ad1.vehicle_detail.power_mirror) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.power_mirror) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.power_mirror) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Power Seats </th>
          <td> <%= boolean(@ad1.vehicle_detail.power_seats) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.power_seats) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.power_seats) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Power Sunroof </th>
          <td> <%= boolean(@ad1.vehicle_detail.power_sunroof) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.power_sunroof) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.power_sunroof) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Power Windows </th>
          <td> <%= boolean(@ad1.vehicle_detail.power_windows) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.power_windows) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.power_windows) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Premium Lights </th>
          <td> <%= boolean(@ad1.vehicle_detail.premium_lights) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.premium_lights) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.premium_lights) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Premium Paint </th>
          <td> <%= boolean(@ad1.vehicle_detail.premium_paint) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.premium_paint) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.premium_paint) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Premium Sound System </th>
          <td> <%= boolean(@ad1.vehicle_detail.premium_soundsystem) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.premium_soundsystem) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.premium_soundsystem) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Premium Wheels/Rims </th>
          <td> <%= boolean(@ad1.vehicle_detail.premium_wheels) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.premium_wheels) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.premium_wheels) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Racing Seats </th>
          <td> <%= boolean(@ad1.vehicle_detail.racing_seats) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.racing_seats) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.racing_seats) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Roof Rack </th>
          <td> <%= boolean(@ad1.vehicle_detail.roof_rack) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.roof_rack) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.roof_rack) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Satellite Radio </th>
          <td> <%= boolean(@ad1.vehicle_detail.satellite_radio) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.satellite_radio) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.satellite_radio) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Spoiler </th>
          <td> <%= boolean(@ad1.vehicle_detail.spoiler) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.spoiler) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.spoiler) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Sunroof </th>
          <td> <%= boolean(@ad1.vehicle_detail.sunroof) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.sunroof) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.sunroof) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Winch </th>
          <td> <%= boolean(@ad1.vehicle_detail.winch) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.winch) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.winch) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Dual Exhaust </th>
          <td> <%= boolean(@ad1.vehicle_detail.dual_exhaust) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.dual_exhaust) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.dual_exhaust) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Power Steering </th>
          <td> <%= boolean(@ad1.vehicle_detail.power_steering) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.power_steering) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.power_steering) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Satellite Radio </th>
          <td> <%= boolean(@ad1.vehicle_detail.satellite_radio) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.satellite_radio) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.satellite_radio) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> N2O System </th>
          <td> <%= boolean(@ad1.vehicle_detail.n2o) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.n2o) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.n2o) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Tiptronic Gears </th>
          <td> <%= boolean(@ad1.vehicle_detail.tiptronic_gears) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.tiptronic_gears) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.tiptronic_gears) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Brush Guard </th>
          <td> <%= boolean(@ad1.vehicle_detail.tiptronic_gears) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.tiptronic_gears) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.tiptronic_gears) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Tiptronic Gears </th>
          <td> <%= boolean(@ad1.vehicle_detail.tiptronic_gears) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.tiptronic_gears) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.tiptronic_gears) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Heated Seats </th>
          <td> <%= boolean(@ad1.vehicle_detail.heated_seats) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.heated_seats) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.heated_seats) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Heat </th>
          <td> <%= boolean(@ad1.vehicle_detail.heated_seats) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.heated_seats) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.heated_seats) %> </td>
          <% end %>
        </tr>
        <tr>
          <th> Cooled Seats </th>
          <td> <%= boolean(@ad1.vehicle_detail.cooled_seats) %> </td>
          <td> <%= boolean(@ad2.vehicle_detail.cooled_seats) %> </td>
          <% if @ad3.present? %>
            <td> <%= boolean(@ad3.vehicle_detail.cooled_seats) %> </td>
          <% end %>
        </tr>
      </table>
    </div>