<%= form_tag(ads_path, method: :get) do %>
  <div class="search-row-wrapper">
    <div class="container ">
      <div class="col-sm-3">
        <%= select_tag 'emirate', options_from_collection_for_select(Emirate.all, "id", "name", params[:emirate]),  { class: 'form-control emirate', prompt: 'City (All)' } %>
      </div>
      <div class="col-sm-3">
        <%= select_tag :brand, options_from_collection_for_select(Brand.all, "id", "name", params[:brand]), { class: 'form-control', prompt: 'Brand (All)' } %>
      </div>
      <div class="col-sm-3">
        <%= select_tag :model, options_from_collection_for_select(@models,"id", "name", params[:model]), { class: 'form-control', prompt: 'Model (All)' } %>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: 'submit', class: "btn btn-block btn-primary" do %>
          <i class="fa fa-search"></i> <strong> Find </strong>
        <% end %>
      </div>
    </div>
  </div>
    <div class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-sm-3 col-sm-pull-1 page-sidebar">
               <aside>
                  <div class="inner-box">
                     <div class="locations-list  list-filter">
                        <h5 class="list-title"><strong><a href="#">Price range</a></strong></h5>
                           <div class="form-group col-sm-4 no-padding" style="margin-right: 5px;">
                              <%= number_field_tag :min_price, nil, min: 100, max: 9999999, class: "form-control", placeholder: 'From', style: 'width: 150%;' %>
                           </div>
                           <div class="form-group col-sm-1 no-padding text-center"></div>
                           <div class="form-group col-sm-4 no-padding">
                              <%= number_field_tag :max_price, nil, min: 100, max: 9999999, class: "form-control", placeholder: 'To', style: 'width: 150%; margin-left: 16px;' %>
                           </div>
                        <div style="clear:both"></div>
                     </div>
                     <div class="locations-list  list-filter">
                        <h5 class="list-title"><strong><a href="#">Build Year</a></strong></h5>
                        <ul class="browse-list list-unstyled long-list">
                          <li>
                           <div class="form-group col-sm-4 no-padding">
                              <%= select_tag :build_start, options_for_select(2000..2016), class: "form-control", prompt: 'From', style: 'width: 150%;' %>
                           </div>
                           <div class="form-group col-sm-1 no-padding text-center"> - </div>
                           <div class="form-group col-sm-4 no-padding">
                              <%= select_tag :build_end, options_for_select(2000..2016), class: "form-control", prompt: 'Till', style: 'width: 150%;' %>
                          </li>
                        </ul>
                     </div>
                     <div style="clear:both"></div>
                     <div class="locations-list  list-filter">
                        <h5 class="list-title"><strong><a href="#">Mileage</a></strong></h5>
                        <ul class="browse-list list-unstyled long-list">
                          <li>
                           <div class="form-group col-sm-4 no-padding">
                              <%= number_field_tag :mileage_from, nil, min: 100, max: 9999999, class: "form-control", placeholder: 'From', style: 'width: 150%;' %>
                           </div>
                           <div class="form-group col-sm-1 no-padding text-center"> - </div>
                           <div class="form-group col-sm-4 no-padding">
                              <%= number_field_tag :mileage_to, nil, min: 0, max: 9999999, class: "form-control", placeholder: 'Till', style: 'width: 150%;' %>
                          </li>
                        </ul>
                     </div>
                     <div style="clear:both"></div>
                     <div class="locations-list  list-filter">
                        <h5 class="list-title"><strong><a href="#">No. of Doors</a></strong></h5>
                        <ul class="browse-list list-unstyled long-list">
                          <li>
                           <div class="form-group col-sm-4 no-padding">
                              <%= select_tag :door_no, options_for_select([4,2]), class: "form-control", prompt: 'All' %>
                           </div>
                          </li>
                        </ul>
                     </div>
                     <div style="clear:both"></div>
                     <div class="locations-list  list-filter">
                        <h5 class="list-title"><strong><a href="#">Seller Type</a></strong></h5>
                        <ul class="browse-list list-unstyled long-list">
                          <li>
                           <div class="form-group col-sm-4 no-padding">
                              <%= select_tag :dealer, options_for_select(Ad.dealer_types), { class: 'form-control', prompt: 'All' } %>
                           </div>
                          </li>
                        </ul>
                     </div>
                     <div style="clear:both"></div>
                     <div class="locations-list  list-filter">
                      <%= button_tag type: 'submit', class: "btn btn-block btn-primary" do %>
                      <i class="fa fa-search"></i> <strong> Find </strong>
                      <% end %>
                     </div>
                     <div style="clear:both"></div>
                  </div>
               </aside>
            </div>
            <div class="col-sm-9 col-sm-pull-1 page-content col-thin-left">
               <div class="category-list">
    <!--               <div class="tab-box ">
                     <ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
                        <li class="active"><a>All Ads <span class="badge"><%=@ads_count %></span></a></li>
                     </ul>
                  </div>
                  <div class="listing-filter">
                     <div class="pull-left col-xs-6">
                        <div class="breadcrumb-list">
                        <a href="#" class="current">
                        <span>All ads</span></a> in New York <a href="#selectRegion" id="dropdownMenu1" data-toggle="modal"> <span class="caret"></span> </a> </div>
                     </div>
                     <div class="pull-right col-xs-6 text-right listing-view-action"> <span class="list-view active"><i class="  icon-th"></i></span> <span class="compact-view"><i class=" icon-th-list  "></i></span> <span class="grid-view "><i class=" icon-th-large "></i></span> </div>
                     <div style="clear:both"></div>
                  </div> -->
                  <div class="adds-wrapper">
                     <div class="tab-content">
                          <div class="tab-pane active" id="allAds">
                          <% if @ads.blank? %>
                            <h2 class='text-center' style="padding-top: 14px;"> No ads to show !</h2>
                          <% else %>
                            <% @ads.each do |ad| %>
                              <div class="item-list">
    <!--                        <div class="cornerRibbons topAds">
                                   <a href="#"> Top Ads</a>
                                </div> -->
                                <div class="col-sm-2 no-padding photobox">
                                  <div class="add-image">
                                    <span class="photo-count"><i class="fa fa-camera"></i> <%= ad.photos.count %>
                                    </span>
                                    <a href="<%= ad_path(ad) %>"><%= image_tag ad.photos.first.image.url(:thumb), class:"thumbnail no-margin ad-image-dp" if ad.photos.present? %>
                                   </a> </div>
                                </div>
                                <div class="col-sm-7 add-desc-box">
                                   <div class="add-details">
                                      <h5 class="add-title"> <a href="<%= ad_path(ad) %>">
                                        <div id=<%= "name_#{ad.id}" %>>
                                          <%= ad.name %> </a>
                                        </div>
                                      </h5>
                                      <div class="title-block">
                                        <i> <%= "\"#{ad.title}\"" if ad.title %></i>
                                      </div>
                                      <span class="info-row">
                                        <span class="ad-detail-span date" title="Posting time"><i class="fa fa-clock-o fa-2x"> </i> <%= time_ago_in_words(ad.created_at) %> </span>
                                          <span class="ad-detail-span item-location" title="Location"><i class="fa fa-map-marker fa-2x"></i> <%=
                                          ad.location.present? ? ad.location.try(:humanize) : 'N/A' %></span>
                                      </span>
                                      <span class="info-row">
                                          <span class="ad-detail-span item-mileage" title="Mileage"><i class="fa fa-tachometer fa-2x"></i>
                                          <%= ad.vehicle_detail.mileage.present? ? number_with_delimiter(ad.vehicle_detail.mileage) + " Kms" : 'N/A'
                                           %> </span>
                                          <span class="ad-detail-span item-build" title="Build date"><i class="fa fa-calendar fa-2x"></i> <%= ad.vehicle_detail.manufacturing_date.present? ? ad.vehicle_detail.manufacturing_date.try(:humanize) : 'N/A' %></span>
                                          <span class="ad-detail-span item-engine" title="Engine power"><i><%= image_tag("engine.png") %></i>
                                          <%= ad.vehicle_detail.cylinder.present?||ad.vehicle_detail.capacity.present? ? "#{ad.vehicle_detail.cylinder}cyl #{ad.vehicle_detail.capacity}L" : 'N/A' %>
                                          </span>
                                      </span>
                                   </div>
                                </div>
                                <div class="col-sm-3 text-right price_box">
                                  <% if ad.negotiable %>
                                    Negotiable  <i class="fa fa-check"></i>
                                  <% else %>
                                    Negotiable  <i class="fa fa-times"></i>
                                  <% end %>
                                    <h2 class="item-price"> AED  <%= number_with_delimiter(ad.price) %> </h2>
                                    <%= link_to "View", ad_path(ad), class: 'btn btn-primary' %>
                                    <%= link_to "Compare", '', class: 'btn btn-primary compare_btn', id: ad.id %>
                                    <%= link_to'', class: 'btn btn-danger save_ad' do %>
                                      <i class="fa fa-gratipay" aria-hidden="true"></i>
                                    <% end %>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                     </div>
                  </div>
               </div>
               <% unless @ads.blank? %>
                 <div class="pagination-bar text-center">
                  <%= paginate @ads %>
                 </div>
              <% end %>
               <div class="post-promo text-center">
                  <h2> Do you get anything for sell ? </h2>
                  <h5>Buy/Sell vehicles online FOR FREE. It's easier than you think !</h5>
                  <a href="<%= new_ad_path %>" class="btn btn-lg btn-border btn-post btn-danger" data-no-turbolink>Post a Free Ad </a>
               </div>
            </div>
         </div>
      </div>
  </div>
<% end %>
<div class='compare_box' style='display: none;'>
  <div class="panel panel-default">
    <div class="panel-heading">Selected items for comparison</div>
    <div class="panel-body">
      <ol class='compare_ol'>
      </ol>
    </div>
    <div class='compare_box_btn'><%= link_to "Compare", compare_ads_path,
                                              class: 'btn btn-primary', id: 'compare_ads' %></div>
  </div>
</div>
