<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-9 page-content">
        <div class="inner-box category-content" style="overflow: initial;">
          <h2 class="title-2 uppercase"><strong><i class="icon-docs"></i>
          Post a free Ad</strong></h2>
          <div class="row">
            <div class="col-sm-12">
							<%= form_for(@ad, html: {:class=>"form-horizontal",:multipart => true}) do |f| %>
                <fieldset>
                  <% f.hidden_field :ad_type, value: "sell" %>
                   <div class="form-group">
                    <label class="col-md-3 control-label">Image</label>
                    <div class="col-md-8">
                    <div class="mb10">
                      <input id="input-upload-img1" type="file" class="file" data-preview-file-type="text" name='photos[]' placeholder ="Image 1">
                    </div>
                    <div class="mb10">
                      <input id="input-upload-img2" type="file" class="file" data-preview-file-type="text" name='photos[]' placeholder ="Image 2">
                    </div>
                    <div class="mb10">
                      <input id="input-upload-img3" type="file" class="file" data-preview-file-type="text" name='photos[]' placeholder ="Image 3">
                    </div>
                    <div class="mb10">
                      <input id="input-upload-img4" type="file" class="file" data-preview-file-type="text" name='photos[]' placeholder ="Image 4">
                    </div>
                    <div class="mb10">
                      <input id="input-upload-img5" type="file" class="file" data-preview-file-type="text" name='photos[]' placeholder ="Image 5">
                    </div>
                    <div class="mb10">
                      <input id="input-upload-img6" type="file" class="file" data-preview-file-type="text" name='photos[]' placeholder ="Image 6">
                    </div>
                    <p class="help-block">Add up to 6 photos. Use a real image of your product, not catalogs.</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label" for=
                    "textarea">Title</label>
                    <div class="col-md-8">
                    <%= f.text_field :title, class: "form-control", required: true, placeholder: "Describe about vehicle" %>
                    </div>
                  </div>
                  <%= f.fields_for :vehicle_detail do |g| %>
       						<div class="form-group">
                    <label class="col-md-3 control-label" for="Adtitle">Select brand</label>
                    <div class="col-md-8">
                    <%= g.select :brand_id, Brand.all.collect {|a| [a.name,a.id]},{prompt: "Select manufacturer" },{ class: 'form-control'} %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="Adtitle">Model</label>
                    <div class="col-md-8">
                    <%= g.select :vehicle_model_id, VehicleModel.all.collect {|a| [a.name,a.id]},{prompt: "Select model" },{ class: 'form-control'}%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Transmission type</label>
                    <div class="col-md-8 normalize-column">
                    <%= g.radio_button :transmission, 'Automatic' %>
                    <%= g.label :transmission, "Automatic", value: "Automatic", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :transmission, 'Manual', checked: true %>
                    <%= g.label :transmission, "Manual", :value => "Manual", style: 'font-weight: normal;'  %>
                    </div>
                  </div>
          	      <div class="form-group">
                    <label class="col-md-3 control-label">Year of registration</label>
                    <div class="col-md-8">
                    <%= g.select :manufacturing_date, options_for_select(Date.today.year.downto(1995), 2010),{}, {class: "form-control"} %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Mileage</label>
                    <div class="col-md-8">
                    <%= g.number_field :mileage, class: "form-control", placeholder: "Odometer reading" %>
                    </div>
                  </div>
           	      <div class="form-group">
                    <label class="col-md-3 control-label">Fuel</label>
                    <div class="col-md-8">
                    <%= g.select :fuel, VehicleDetail.fuel_types, {}, { class: "form-control" } %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Doors</label>
                    <div class="col-md-8 normalize-column">
                    <%= g.radio_button :door_no, 2 %>
                    <%= g.label :door_no, "2", value: "2", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :door_no, 3 %>
                    <%= g.label :door_no, "3", value: "3", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :door_no, 4, checked: true %>
                    <%= g.label :door_no, "4", value: "4", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :door_no, 4 %>
                    <%= g.label :door_no, "5", value: "5", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :door_no, 4 %>
                    <%= g.label :door_no, "5+", value: "5+", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-md-3 control-label">Color</label>
                    <div class="col-md-8">
                    <%= g.select :color, VehicleDetail.color.invert,{}, { class: "form-control" } %>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-md-3 control-label">No. of cylinder</label>
                    <div class="col-md-8 normalize-column">
                    <%= g.radio_button :cylinder, '4', checked: true %>
                    <%= g.label :cylinder, "4", value: "4", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :cylinder, '6' %>
                    <%= g.label :cylinder, "6", value: "6", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :cylinder, '8' %>
                    <%= g.label :cylinder, "8", value: "8", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :cylinder, '12' %>
                    <%= g.label :cylinder, "12", value: "12", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :cylinder, '12+' %>
                    <%= g.label :cylinder, "12+", value: "12+", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-md-3 control-label">Engine Capacity</label>
                    <div class="col-md-8">
                    <%= g.select :capacity, options_for_select(['1.0L', '1.1L', '1.2L', '1.3L', '1.4L', '1.5L', '1.6L', '1.8L', '1.9L', '2.0L', '2.1L', '2.2L', '2.3L', '2.4L', '2.5L', '2.7L', '2.8L', '3.0L', '3.2L', '3.3L', '3.4L', '3.5L', '3.6L', '3.7L', '3.8L', '3.9L', '4.0L', '4.2L', '4.3L', '4.4L', '4.4L', '4.5L', '4.6L', '4.7L', '4.8L', '4.9L', '5.0L', '5.2L', '5.3L', '5.4L', '5.5L', '5.7L', '5.8L', '5.9L', '6.0L', '6.1L', '6.2L', '6.3L', '6.4L', '6.5L', '6.6L', '6.8L', '7.0L', '7.2L', '7.3L', '7.4L', '8.0L', 'Other']), { prompt: 'Select Capacity (Ltr)'}, class: "form-control" %>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-md-3 control-label">Regional Specification</label>
                    <div class="col-md-8">
                    <%= g.select :regional_spec, options_for_select(['European', 'GCC', 'Japanese', 'North American', 'Other']), { prompt: 'Select car spec'}, class: "form-control" %>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-md-3 control-label">Horse Power</label>
                    <div class="col-md-8">
                    <%= g.select :horse_power, options_for_select(['Less than 150 HP', '150 - 200 HP', '200 - 300 HP', '300 - 400 HP', '400 - 500 HP', '500 - 600 HP', '600 - 700 HP', '700 - 800 HP', '800 - 900', '900+ HP']), { prompt: 'Select Horse Power (HP)'}, class: "form-control" %>
                    </div>
                  </div>
            	    <div class="form-group">
                    <label class="col-md-3 control-label">Insured till</label>
                    <div class="col-md-8">
                    <%= g.text_field :insurance_date, id: "insurance_date", class: "form-control", readonly: true, placeholder: "Select a date" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">No. of owners</label>
                    <div class="col-md-8 normalize-column">
                    <%= g.radio_button :owner_count, 'First owner', checked: true %>
                    <%= g.label :owner_count, "First owner", value: "First owner", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :owner_count, 'Second owner' %>
                    <%= g.label :owner_count, "Second owner", value: "Second owner", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :owner_count, 'Third owner' %>
                    <%= g.label :owner_count, "Third owner", value: "Third owner", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    <%= g.radio_button :owner_count, 'More than 3' %>
                    <%= g.label :owner_count, "More than 3 owners", value: "More than 3", style: 'font-weight: normal;', class: 'label-spacing'  %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label" for=
                    "seller-area">Additional information(Optional)</label>
                    <div class="col-md-8">
                    <table class="table table-striped">
                      <tr>
                        <td>
                          <%= g.check_box :abs %> Anti-Lock Brakes/ABS
                        </td>
                        <td>
                          <%= g.check_box :front_airbags %> Front Airbags
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :side_airbags %> Side Airbags
                        </td>
                        <td>
                          <%= g.check_box :bluetooth %> Bluetooth System
                        </td>
                      </tr>
                      </table>
                      <div class="options-notice-show"><a href="#" onClick="return false;">Show more options</a><br><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
                      <div class="options-overlay" style="display: none;">
                      <table class="table table-striped">
                      <tr>
                        <td>
                          <%= g.check_box :cruise_control %> Alarm/Anti-Theft System
                        </td>
                        <td>
                          <%= g.check_box :navigation %> Navigation System
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :fourwheel_drive %> 4 Wheel Drive
                        </td>
                        <td>
                          <%= g.check_box :allwheel_drive %> All Wheel Drive
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :body_kit %> Body-Kit
                        </td>
                        <td>
                          <%= g.check_box :climate_control %> Climate Control
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :keyless_entry %> Keyless Entry
                        </td>
                        <td>
                          <%= g.check_box :keyless_start %> Keyless Start
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :radio %> AM/FM Radio
                        </td>
                        <td>
                          <%= g.check_box :aux_audio %> Aux Audio In
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :offroad_kit %> Off-Road Kit
                        </td>
                        <td>
                          <%= g.check_box :offroad_tyre %> Off-Road Tyre
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :parking_sensor %> Parking Sensors
                        </td>
                        <td>
                          <%= g.check_box :moonroofs %> Moonroof
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :cd_player %> CD Player
                        </td>
                        <td>
                          <%= g.check_box :dvd_player %> DVD Player
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :power_mirror %> Power Mirrors
                        </td>
                        <td>
                          <%= g.check_box :power_seats %> Power Seats
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :power_sunroof %> Power Sunroof
                        </td>
                        <td>
                          <%= g.check_box :power_windows %> Power Windows
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :premium_lights %> Premium Lights
                        </td>
                        <td>
                          <%= g.check_box :premium_paint %> Premium Paint
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :premium_soundsystem %> Premium Sound System
                        </td>
                        <td>
                          <%= g.check_box :premium_wheels %> Premium Wheels/Rims
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :racing_seats %> Racing Seats
                        </td>
                        <td>
                          <%= g.check_box :roof_rack %> Roof Rack
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :satellite_radio %> Satellite Radio
                        </td>
                        <td>
                          <%= g.check_box :spoiler %> Spoiler
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :sunroof %> Sunroof
                        </td>
                        <td>
                          <%= g.check_box :winch %> Winch
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :dual_exhaust %> Dual Exhaust
                        </td>
                        <td>
                          <%= g.check_box :power_steering %> Power Steering
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :n2o %> N2O System
                        </td>
                        <td>
                          <%= g.check_box :tiptronic_gears %> Tiptronic Gears
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :brush_guard %> Brush Guard
                        </td>
                        <td>
                          <%= g.check_box :heated_seats %> Heated Seats
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= g.check_box :heat %> Heat
                        </td>
                        <td>
                          <%= g.check_box :cooled_seats %> Cooled Seats
                        </td>
                      </tr>
                    </table>
                  <div class="options-notice-hide" style="display: none;"><a href="#" onClick="return false;">Hide options</a><br><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <% end %>
                  <div class="form-group">
                    <label class="col-md-3 control-label" for=
                    "textarea">Describe ad</label>
                    <div class="col-md-8">
                    <%= f.text_area :description, class: "form-control", required: true, placeholder: "Describe about vehicle" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label" for=
                    "Price">Price</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">AED</span>
  											<%= f.number_field :price, class: "form-control", required: true, min: 100, placeholder: "Price" %>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="checkbox">
                        Negotiable<%= f.check_box :negotiable %>
                      </div>
                    </div>
                  </div>
                  <div class="content-subheading">
                    <i class="icon-user fa"></i> <strong>Contact
                    information and Privacy options</strong>
                  </div>
                  <%= f.fields_for :seller_information do |s| %>
	                  <div class="form-group">
	                    <label class="col-md-3 control-label" for=
	                    "textinput-name">Name</label>
	                    <div class="col-md-8">
	                    	<%= s.text_field :name, value: current_user.name, class: "form-control input-md", placeholder: "Name", readonly: true %>
 												<div class="checkbox">
	                        <label><%= check_box_tag :hide_name %> <small>Hide
	                        name on this ads.</small></label>
	                      </div>
	                    </div>
	                  </div>
                      <div class="contact-options-show"><a href="#" onClick="return false;">Show more options</a><br><i class="fa fa-angle-double-down" aria-hidden="true" id='down-carrot'></i></div>
                      <div class="contact-options-overlay" style="display: none;">
	                  <div class="form-group">
	                    <label class="col-md-3 control-label" for=
	                    "seller-email">Seller Email</label>
	                    <div class="col-md-8">
	                      <%= s.email_field :email, value: current_user.email, class: "form-control", placeholder: "Email" %>
 												<div class="checkbox">
	                        <label><%= check_box_tag :hide_email %> <small> Hide
	                        email on this ads.</small></label>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="col-md-3 control-label" for=
	                    "seller-Number">Phone Number</label>
	                    <div class="col-md-8">
	                    <%= s.text_field :phone_number, value: current_user.try(:phone), class: "form-control", placeholder: "Phone" %>
 												<div class="checkbox">
	                        <label><%= check_box_tag :hide_phone %> <small>Hide
	                        phone number on this ads.</small></label>
	                      </div>
	                    </div>
	                  </div>
                  <% end %>
                    </div>
                  <div class="contact-options-hide" style="display: none;"><a href="#" onClick="return false;">Hide options</a><br><i class="fa fa-angle-double-up" aria-hidden="true" id='up-carrot'></i></div>
	                  <div class="form-group">
	                    <label class="col-md-3 control-label" for=
	                    "seller-Location">Country</label>
	                    <div class="col-md-8">
	                      <%= f.select :country_id, Country.all.map{ |c| [c.name, c.id] }, {}, {class: 'form-control'} %>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="col-md-3 control-label" for=
	                    "seller-area">City</label>
	                    <div class="col-md-8">
                        <%= f.select(:emirate_id, Emirate.all.collect{ |c| [c.name, c.id] }, {}, {class: 'form-control'}) %>
	                    </div>
	                  </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label" for=
                      "seller-area">Location</label>
                      <div class="col-md-8">
                        <%= f.text_field :location, class: "form-control input-md"%>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label" for=
                      "seller-area">I'm a dealer for this ad</label>
                      <div class="col-md-8 normalize-column">
                        <%= f.check_box :dealer %> &nbsp;Check this option if you are dealer/broker/third party.
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Terms</label>
                    <div class="col-md-8">
                      <label class="checkbox-inline" for=
                      "checkboxes-0"><input id="terms" name=
                      "checkboxes" type="checkbox" value=
                      "."> I agree with Terms & Conditions of Motobaba.</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                      <%= f.submit class: "btn btn-success btn-lg", id: "submit_form" %>
                    </div>
                  </div>
                </fieldset>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 reg-sidebar">
        <div class="reg-sidebar-inner text-center">
          <div class="promo-text-box">
            <i class=" icon-picture fa fa-4x icon-color-1"></i>
            <h3><strong>Post a Free Classified</strong></h3>
            <p>Post your free online classified ads with us.</p>
          </div>
          <div class="panel sidebar-panel">
            <div class="panel-heading uppercase">
              <small><strong>How to sell quickly?</strong></small>
            </div>
            <div class="panel-content">
              <div class="panel-body text-left">
                <ul class="list-check">
                  <li>Use a brief title and description of the item.</li>
                  <li>Add as many as photos you can.</li>
                  <li>Provide additional information about vehicle.</li>
                  <li>Put a reasonable price.</li>
                  <li>Provide correct contact information.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

