<p id="alert" class="alert alert-success pgray  alert-lg" role='alert' style="display: none;"></p>
<div class="main-container">
  <div class="container">
    <ol class="breadcrumb pull-left">
      <li><a href="<%= root_path %>"><i class="icon-home fa"></i></a></li>
      <li><a href="<%= ads_path %>">Ads</a></li>
      <li><a href="<%= request.url %>"><%= @ad.id %></a></li>
    </ol>
    <div class="pull-right backtolist"><a href=<%= url_for(:back) %>> <i class="fa fa-angle-double-left"></i> Back to Results</a></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 page-content col-thin-right">
        <div class="inner inner-box ads-details-wrapper">
          <h2> <%= @ad.title %>
            <small class="label label-default adlistingtype"> <%= @ad.name %> </small>
          </h2>
          <span class="info-row">
            <i class=" icon-clock"> </i><%= time_ago_in_words(@ad.created_at) %>  &nbsp;
            <i class="fa fa-map-marker"></i>&nbsp;<%= @ad.location %>
          </span>
          <div class="ads-image">
            <h1 class="pricetag"> AED <%=  number_with_delimiter(@ad.price) %></h1>
            <ul class="bxslider">
              <% @ad.photos.each do |photo| %>
              <li><%= image_tag photo.image.url(:medium)%></li>
              <% end %>
            </ul>
            <div id="bx-pager">
              <% @ad.photos.each_with_index do |photo,index| %>
              <a class="thumb-item-link" data-slide-index="<%=index %>" href="">
                <%= image_tag photo.image.url(:thumb)%>
              </a>
              <% end %>
            </div>
          </div>
          <div class="Ads-Details">
           <h5 class="list-title"><strong>Ads Details</strong></h5>
           <div class="row">
            <div class="ads-details-info col-md-8">
              <div class="panel panel-default">
                <div class="panel-body"><p><%= @ad.description %></p></div>
              </div>
              <div style="float: left; width: 50%;">
                <ul class="list-circle">
                  <li>
                    <strong>Fuel :</strong>
                    <span><%= @ad.vehicle_detail.fuel %></span>
                  </li>
                  <li>
                    <strong>Year of Registration:</strong>
                    <span><%= @ad.vehicle_detail.manufacturing_date %></span>
                  </li>
                  <li>
                    <strong>Mileage:</strong>
                    <span><%= data(@ad.vehicle_detail.mileage) %></span>
                  </li>
                  <li>
                    <strong>No. of doors:</strong>
                    <span><%= data(@ad.vehicle_detail.door_no) %></span>
                  </li>
                  <li>
                    <strong>Regional Spec:</strong>
                    <span><%= data(@ad.vehicle_detail.regional_spec) %></span>
                  </li>
                </ul>
              </div>
              <div style="float: right; width: 50%;">
                <ul class="list-circle">
                  <li>
                    <strong>Mileage:</strong>
                    <span><%= data(@ad.vehicle_detail.mileage) %></span>
                  </li>
                  <li>
                    <strong>Transmission:</strong>
                    <span><%= data(@ad.vehicle_detail.transmission) %></span>
                  </li>
                  <li>
                    <strong>No. of cylinder:</strong>
                    <span><%= data(@ad.vehicle_detail.cylinder) %></span>
                  </li>
                  <li>
                    <strong>Engine Capacity:</strong>
                    <span><%= data(@ad.vehicle_detail.capacity) %></span>
                  </li>
                  <li>
                    <strong>Horse Power:</strong>
                    <span><%= data(@ad.vehicle_detail.horse_power) %></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <aside class="panel panel-body panel-details">
                <div class="ads-action">
                  <ul class="list-border">
                    <li>
                      <a href="<%= ads_path(model: @ad.vehicle_detail.vehicle_model_id) %>"> <i class=" fa fa-user"></i> Similar ads </a>
                    </li>
                    <li>
                      <%= link_to add_ad_shortlist_path(ad_id: @ad.id), id: 'shortlist_link', remote: true, method: :post do %>
                      <i class=" fa fa-heart"></i> Add to shortlist </a>
                      <% end %>
                    </li>
                    <li>
                      <a href="#" class='share-btn'><i class="fa fa-share-alt"></i>Share Ad</a>
                      <div class='share-div'>
                        <%= render_shareable :buttons=> ['twitter', 'facebook']  %>
                      </div>
                    </li>
                    <li>
                      <%= link_to tag_spam_ad_path(ad_id: @ad.id), id: 'report_link', remote: true do %>
                      <i class="fa icon-info-circled-alt"></i> Report abuse </a>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>

          <div class=row>
            <div class="col-md-10">
              <label class="control-label" for="seller-area">Additional informations</label>
              <table class="table table-striped">
                <tr>
                  <td>
                    Anti-Lock Brakes/ABS: <%= boolean(@ad.vehicle_detail.abs)  %>
                  </td>
                  <td>
                    Front Airbags: <%= boolean(@ad.vehicle_detail.front_airbags) %>
                  </td>
                </tr>
                <tr>
                  <td>
                    Side Airbags: <%= boolean(@ad.vehicle_detail.side_airbags) %>
                  </td>
                  <td>
                    Bluetooth System: <%= boolean(@ad.vehicle_detail.bluetooth) %>
                  </td>
                </tr>
              </table>
              <div class="options-notice-show">
                <a href="#" onClick="return false;">Show all features</a>
                <br>
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
              </div>
              <div class="options-overlay" style="display: none;">
                <table class="table table-striped">
                  <tr>
                    <td>
                      Alarm/Anti-Theft System: <%= boolean(@ad.vehicle_detail.cruise_control) %>
                    </td>
                    <td>
                      Navigation System: <%= boolean(@ad.vehicle_detail.navigation) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4 Wheel Drive: <%= boolean(@ad.vehicle_detail.fourwheel_drive) %>
                    </td>
                    <td>
                      All Wheel Drive: <%= boolean(@ad.vehicle_detail.allwheel_drive) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Body-Kit: <%= boolean(@ad.vehicle_detail.body_kit) %>
                    </td>
                    <td>
                      Climate Control: <%= boolean(@ad.vehicle_detail.climate_control) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Keyless Entry: <%= boolean(@ad.vehicle_detail.keyless_entry) %>
                    </td>
                    <td>
                      Keyless Start: <%= boolean(@ad.vehicle_detail.keyless_start) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      AM/FM Radio: <%= boolean(@ad.vehicle_detail.radio) %>
                    </td>
                    <td>
                      Aux Audio In: <%= boolean(@ad.vehicle_detail.aux_audio) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Off-Road Kit: <%= boolean(@ad.vehicle_detail.offroad_kit) %>
                    </td>
                    <td>
                      Off-Road Tyre: <%= boolean(@ad.vehicle_detail.offroad_tyre) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Parking Sensors: <%= boolean(@ad.vehicle_detail.parking_sensor) %>
                    </td>
                    <td>
                      Moonroof: <%= boolean(@ad.vehicle_detail.moonroofs) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      CD Player: <%= boolean(@ad.vehicle_detail.cd_player) %>
                    </td>
                    <td>
                      DVD Player: <%= boolean(@ad.vehicle_detail.dvd_player) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Power Mirrors: <%= boolean(@ad.vehicle_detail.power_mirror) %>
                    </td>
                    <td>
                      Power Seats: <%= boolean(@ad.vehicle_detail.power_seats) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Power Sunroof: <%= boolean(@ad.vehicle_detail.power_sunroof) %>
                    </td>
                    <td>
                      Power Windows: <%= boolean(@ad.vehicle_detail.power_windows) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Premium Lights: <%= boolean(@ad.vehicle_detail.premium_lights) %>
                    </td>
                    <td>
                      Premium Paint: <%= boolean(@ad.vehicle_detail.premium_paint) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Premium Sound System: <%= boolean(@ad.vehicle_detail.premium_soundsystem) %>
                    </td>
                    <td>
                      Premium Wheels/Rims: <%= boolean(@ad.vehicle_detail.premium_wheels) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Racing Seats: <%= boolean(@ad.vehicle_detail.racing_seats) %>
                    </td>
                    <td>
                      Roof Rack: <%= boolean(@ad.vehicle_detail.roof_rack) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Satellite Radio: <%= boolean(@ad.vehicle_detail.satellite_radio) %>
                    </td>
                    <td>
                      Spoiler: <%= boolean(@ad.vehicle_detail.spoiler) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sunroof: <%= boolean(@ad.vehicle_detail.sunroof) %>
                    </td>
                    <td>
                      Winch: <%= boolean(@ad.vehicle_detail.winch) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dual Exhaust: <%= boolean(@ad.vehicle_detail.dual_exhaust) %>
                    </td>
                    <td>
                      Power Steering: <%= boolean(@ad.vehicle_detail.power_steering) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      N2O System: <%= boolean(@ad.vehicle_detail.n2o) %>
                    </td>
                    <td>
                      Tiptronic Gears: <%= boolean(@ad.vehicle_detail.tiptronic_gears) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Brush Guard: <%= boolean(@ad.vehicle_detail.brush_guard) %>
                    </td>
                    <td>
                      Heated Seats: <%= boolean(@ad.vehicle_detail.heated_seats) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Heat: <%= boolean(@ad.vehicle_detail.heat) %>
                    </td>
                    <td>
                      Cooled Seats: <%= boolean(@ad.vehicle_detail.cooled_seats) %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </br>
        <div id="hide-additional" class="options-notice-hide" style="display: none;">
          <a href="#" onClick="return false;">Hide options</a>
          <br>
          <i class="fa fa-angle-double-up position-center" aria-hidden="true"></i>
        </div>

      </div>

    </div>

  </div>
  <div class="col-sm-3  page-sidebar-right">
    <aside>
      <div class="panel sidebar-panel panel-contact-seller">
        <div class="panel-heading">
          About Seller
        </div>
        <div class="panel-content user-info">
          <div class="panel-body text-center">
            <div class="seller-info">
              <h3 class="no-margin"><%= @ad.seller_information.name %></h3>
              <p>Location: <strong><%= @ad.user.city %></strong></p>
              <p> Last sign in: <strong><%=time_ago_in_words(@ad.user.last_sign_in_at) %> ago</strong></p>
            </div>
            <div class="user-ads-action">
              <a href="#contactAdvertiser" data-toggle="modal" class="btn btn btn-primary btn-block">
                <i class=" icon-mail-2"></i> Send a message </a>
                <% if @ad.seller_information && @ad.seller_information.phone_number.present? && !@ad.seller_information.try(:hide_name) %>
                <a class="btn  btn-info btn-block"><i class=" icon-phone-1"></i> <%= @ad.seller_information.phone_number %> </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="panel sidebar-panel">
        <div class="panel-heading">
          Quick Detail
        </div>
        <div class="panel-content">
         <div class="panel-body text-left">
          <ul>
            <li>
              <p class="no-margin"><strong>Location:</strong> <%= @ad.location.try(:humanize) %> </p>
            </li>
            <li>
              <p class="no-margin"><strong>Brand: </strong> <%= @ad.brand_name %></p>
            </li>
            <li>
              <p class="no-margin"><strong>Model: </strong> <%= @ad.vehicle_model_name %></p>
            </li>
            <li>
              <p class="no-margin"><strong>Prevous Owners: </strong> <%= @ad.vehicle_detail.owner_count %></p>
            </li>
            <li>
              <p class="no-margin"><strong>Insured till: </strong> <%= date(@ad.vehicle_detail.insurance_date) %></p>
            </li>
            <li>
              <p class="no-margin"><strong>Color: </strong> <%= @ad.vehicle_detail.color.try(:humanize) %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel sidebar-panel">
      <div class="panel-heading">
        Safety Tips
      </div>
      <div class="panel-content">
        <div class="panel-body text-left">
          <ul class="list-check">
            <li> Provide your Contact details for each inquiry to seller.</li>
            <li> Meet seller at a public place.</li>
            <li> Check and verify vehicle before you cash transaction.</li>
            <li> Mention you saw their ad when contact.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
</div>





</div>
<div class="modal fade" id="contactAdvertiser" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><i class=" icon-mail-2"></i> Contact advertiser </h4>
      </div>
      <%= form_tag 'email_to_seller', remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="control-label">Name:</label>
          <input class="form-control required" id="recipient-name" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text" name='sender_name' required>
        </div>
        <div class="form-group">
          <label for="sender-email" class="control-label">E-mail:</label>
          <input id="sender-email" type="text" data-content="Must be a valid e-mail address (user@gmail.com)" data-trigger="manual" data-placement="top" placeholder="email@you.com" class="form-control email" name="sender_email" required>
        </div>
        <div class="form-group">
          <label for="recipient-Phone-Number" class="control-label">Phone Number:</label>
          <input type="text" maxlength="60" class="form-control" id="recipient-Phone-Number" name="recipient_phone_number">
        </div>
        <div class="form-group">
          <label for="message-text" class="control-label">Message <span class="text-count">(300) </span>:</label>
          <textarea class="form-control" id="message-text" placeholder="Your message here.." data-placement="top" data-trigger="manual" name="message_text" required></textarea >
          </div>
          <div class="form-group">
            <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
          </div>
          <input type="hidden" value="<%= @ad.try(:seller_information).try(:email)%>" name='to_mail'>
          <input type="hidden" value="<%= @ad.try(:seller_information).try(:name)%>" name='seller_name'>
          <input type="hidden" value="<%= @ad.id%>" name='ad_id'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success pull-right">Send message!</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
