<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <div class="inner-box category-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success pgray  alert-lg" role="alert">
                <h2 class="no-margin no-padding">&#10004; Congratulations! Your ad will be published soon.</h2>
                <p>Please wait until review completes. You can check status of review in your dashboard.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
