<% if @result == 'nologin' %>
  $('#alert').text('You are not logged in, please login to report ads.').attr('class', 'alert alert-info pgray  alert-lg');
<% else %>
  $('#alert').text('Ad has been successfully reported. Thanks for the reporting.').attr('class', 'alert alert-info pgray  alert-lg');
  $('#alert').show();
  $('#report_link').click(function () {return false;});
<% end %>
$('#alert').show();