<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 login-box">
        <div class="panel panel-default">
          <div class="panel-intro text-center">
            <h2 class="logo-title">
              <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Moto<span>Baba </span> 
            </h2>
          </div>
          <div class="panel-body">
            <h2>Resend confirmation instructions</h2>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <label for="sender-email" class="control-label">Email:</label>
                <div class="input-icon"> <i class="icon-user fa"></i>
                  <%= f.email_field :email, autofocus: true , id: "sender-email", placeholder: "Email", class: "form-control email"%>
                </div>
                <div><br>
                  <%= f.submit "Resend confirmation instructions" %>
                </div>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
