<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 page-content">
        <div class="inner-box category-content">
        <h2 class="title-2"> <i class="icon-user-add"></i> Create your account, Its free </h2>
          <div class="row">
            <div class="col-sm-12">
                <fieldset>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post ,:class=>"form-horizontal"}) do |f| %>
                  <%= devise_error_messages! %>
                <div class="form-group required">
                  <label class="col-md-4 control-label">First Name <sup>*</sup></label>
                    <div class="col-md-6">
                      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control input-md" %>
                    </div>
                </div>
     
                <div class="form-group required">
                  <label class="col-md-4 control-label">Last Name </label>
                  <div class="col-md-6">
                    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control input-md" %>
                  </div>
                </div>
     
                <div class="form-group required">
                  <label class="col-md-4 control-label">Phone Number </label>
                  <div class="col-md-6">
                    <%= f.text_field :phone, placeholder: "Phone number", class: "form-control input-md" %>
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-4 control-label">Emirate</label>
                  <div class="col-md-6">
                    <%= f.select(:emirate_id, Emirate.all.collect{ |c| [c.name, c.id] }, {}, {class: 'form-control input-md'}) %> 
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-4 control-label">Location <sup>*</sup></label>
                  <div class="col-md-6">
                    <%= f.text_field :city, placeholder: "Location", class: "form-control input-md" %>
                  </div>
                </div>

                <br><br>

                <div class="form-group required">
                  <label for="inputEmail3" class="col-md-4 control-label">Email <sup>*</sup></label>
                  <div class="col-md-6">
                    <%= f.email_field :email, placeholder: "Email", class: "form-control input-md" %>
                  </div>
                </div>

                <div class="form-group required">
                  <label for="inputPassword3" class="col-md-4 control-label">Password <sup>*</sup></label>
                  <div class="col-md-6">
                    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
                    <p class="help-block">At least 5 characters  </p>
                  </div>
                </div>

                <div class="form-group required">
                  <label for="inputPassword3" class="col-md-4 control-label">Confrm Password <sup>*</sup></label>
                  <div class="col-md-6">
                    <%= f.password_field :confirm_password, placeholder: "Password", class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-8">
                    <div class="termbox mb10">
                      <label class="checkbox-inline" for="checkboxes-1">
                      <input name="checkboxes" id="terms" type="checkbox">
                      I have read and agree to the <a href="http://motobaba.com/tos">Terms Conditions</a> </label>
                    </div>
                    <div style="clear:both"></div>
                      <%= f.submit "Sign up", class: "btn btn-primary" %></div>
                    </div>
                    </fieldset>
                <% end %>
            </div>
          </div>
      </div>
    </div>
     
    <div class="col-md-4 reg-sidebar">
      <div class="reg-sidebar-inner text-center">
        <div class="promo-text-box"> <i class=" icon-picture fa fa-4x icon-color-1"></i>
          <h3><strong>Post a Free Classified</strong></h3>
          <p> Post your free online classified ads with us. Completely free of cost. </p>
        </div>
        <div class="promo-text-box"> <i class=" icon-pencil-circled fa fa-4x icon-color-2"></i>
          <h3><strong>Create and Manage Items</strong></h3>
          <p> Create and edit ads, see updates.</p>
        </div>
        <div class="promo-text-box"> <i class="  icon-heart-2 fa fa-4x icon-color-3"></i>
          <h3><strong>Create your Favorite ads list.</strong></h3>
          <p> Save favorate ads for later usage and comparisons.</p>
          <p>SendGrid</p>
        </div>
      </div>
    </div>
  </div>   
  </div>
</div>
<%= javascript_include_tag 'signup', 'data-turbolinks-track' => true %>
