<h3>Hello <%= @seller_name %></h3>
<p class="lead"><%= @sender_name %> is contacted you about your advertisement in Motobaba. Please find the message details below:<br></p>
<p>Email : <%= @sender_email  %>.</p>
<p>Phone : <%= @recipient_phone_number  %>.</p>
<p>Message : <%= @message_text  %>.</p>
