<h3>Hello Admin:</h3>
<p class="lead"><%= @first_name %> is contacted you. Please find the message details below:<br></p>
<p>
  Company Name: <%= @company_name  %>.<br>
</p>
<p>
  Email: <%= @email %>.
</p>
<p>Message :<%= @message%></p>
