<% ad.photos.each do |photo| %>
	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
      <%= image_tag photo.image.url(:thumb),:width =>'400px', :height => '300px'%>
    </a>
</div>
<% end %>

<style>
	.thumbnail > img, .thumbnail a > img {
	    max-height: 125px !important;
	}
</style>