<div class="fieldset">
   <h4>
      Basic info
   </h4>
   <dl>
      <dt>
         <span class="label label-info name_field string_type">
         Name
         </span>
      </dt>
      <dd class="well">
         <%= seller_information.name %>
      </dd>
      <dt>
         <span class="email_field label label-info string_type">
         Email
         </span>
      </dt>
      <dd class="well">
         <%= seller_information.email %>
      </dd>
   </dl>
</div>