<div class="fieldset">
   <h4>
      Basic info
   </h4>
   <dl>
      <dt>
         <span class="label label-info manufacturing_date_field string_type">
         Manufacturing date
         </span>
      </dt>
      <dd class="well">
         <%= vehicle_detail.manufacturing_date %>
      </dd>
      <dt>
         <span class="fuel_field label label-info string_type">
         Fuel
         </span>
      </dt>
      <dd class="well">
         <%= vehicle_detail.fuel %>
      </dd>
      <dt>
         <span class="color_field label label-info string_type">
         Color
         </span>
      </dt>
      <dd class="well">
         <%= vehicle_detail.color %>
      </dd>
      <dt>
         <span class="date_type insurance_date_field label label-info">
         Insurance date
         </span>
      </dt>
      <dd class="well">
         <%= vehicle_detail.insurance_date %>
      </dd>
      <dt>
         <span class="label label-info owner_count_field string_type">
         Owner count
         </span>
      </dt>
      <dd class="well">
          <%= vehicle_detail.owner_count %>
      </dd>
      <dt>
         <span class="belongs_to_association_type brand_field label label-info">
         Brand
         </span>
      </dt>
      <dd class="well">
         <a class="pjax" href="/admin/brand/<%=vehicle_detail.try(:brand).try(:id)%>"><%= vehicle_detail.try(:brand).try(:name) %></a>
      </dd>
   </dl>
</div>