<table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true">
  <thead>
    <tr>
      <th> Photo </th>
      <th data-sort-ignore="true"> Details </th>
      <th> Status </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @my_ads.each do |ad| %>
      <tr>
        <!-- <td style="width:2%" class="add-img-selector">
          <div class="checkbox">
            <label>
              <input type="checkbox">
            </label>
          </div>
        </td> -->
        <td style="width:14%" class="add-img-td">
          <a href="<%= ad_path(ad) %>">
          <%= image_tag ad.first_thumb_image, class:"thumbnail  img-responsive" %>
          </a>
        </td>
        <td style="width:58%" class="ads-details-td">
          <div>
            <p><strong> <a href="<%= ad_path(ad) %>" title="Brend New Nexus 4"><%= ad.title%></a> </strong></p>
            <p> <strong> Posted On </strong>:
            <%= time_ago_in_words(ad.created_at) %> </p>
            <p><strong>Located In:</strong> <%= ad.location %> </p>
            <p><strong>Listed price:</strong>  AED <%=  number_with_delimiter(ad.price) %> </p>
          </div>
        </td>
        <td style="width:16%" class="price-td">
          <div><strong><%= ad.is_approved ? 'Active' :  'Unapproved' %></strong></div>
        </td>
        <td style="width:10%" class="action-td">
          <div>
            <!-- <p>
              <a class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i> Edit </a>
            </p> -->
            <p>
              <a class="btn btn-info btn-xs"> <i class="fa fa-mail-forward"></i> Share </a>
            </p>
            <%if params[:action]=='saved_ads' %>
              <p>
                <a class="btn btn-danger btn-xs remove-saved_ad-btn" id='<%=ad.id%>'> <i class=" fa fa-trash"></i> Remove </a>
              </p>
            <% else %>
              <p>
                <a class="btn btn-danger btn-xs delete-ad-btn" id='<%=ad.id%>'> <i class=" fa fa-trash"></i> Delete </a>
              </p>
            <%end%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
