<% if !flash[:user_update_success].blank? %>
    <p class="alert alert-success  pgray  alert-lg role='alert'"><%= flash[:user_update_success] %></p>
 <% elsif !flash[:user_update_warning].blank? %>
 	 <p class="alert alert-warning pgray  alert-lg role='alert'"><%= flash[:user_update_warning] %></p>
<% end %>