<!-- Use active class to activate pane. -->
<div class="inner-box">
  <div class="user-panel-sidebar">
    <div class="collapse-box">
      <h5 class="collapse-title no-border">Dashboard
      <a class="pull-right fa fa-angle-down" data-toggle=
      "collapse" href="#MyClassified" style=
      "font-style: italic"></a></h5>
      <div class="panel-collapse collapse in" id="MyClassified">
        <ul class="acc-list">
          <li>
            <a href="<%= users_dashboard_path %>"><i class=
            "icon-home"></i> Personal settings</a>
          </li>
        </ul>
      </div>
    </div>
      <h5 class="collapse-title">My Ads <a class=
      "pull-right fa fa-angle-down" data-toggle="collapse" href=app/views/devise/passwords/new.html.erb
      "#MyAds" style="font-style: italic"></a></h5>
      <div class="panel-collapse collapse in" id="MyAds">
        <ul class="acc-list">
          <li>
            <a href="<%= myads_users_path %>"><i class=
            "icon-docs"></i> My Ads  <span class=
            "badge"><%= @my_ads_count %></span></a>
          </li>
          <!-- <li>
            <a href="account-saved-search.html"><i class=
            "icon-star-circled"></i> Saved search <span class=
            "badge">42</span></a>
          </li>
          <li>
            <a href="account-archived-ads.html"><i class=
            "icon-folder-close"></i> Archived ads <span class=
            "badge">42</span></a>
          </li> -->
          <li>
            <a href="<%= pending_approval_ads_users_path %>"><i class=
            "icon-hourglass"></i> Pending approval <span class=
            "badge"><%= @ad_pending_count %></span></a>
          </li>
          <li>
            <a href="<%=saved_ads_users_path%>"><i class=
            "icon-heart"></i> Saved Ads  <span class=
            "badge"><%= @short_list_count %></span></a>
          </li>
        </ul>
    </div>
  </div>
  <div class="collapse-box">
    <h5 class="collapse-title">Terminate Account <a class=
    "pull-right fa fa-angle-down" data-toggle="collapse" href=
    "#TerminateAccount" style="font-style: italic"></a></h5>
    <div class="panel-collapse collapse in" id=
    "TerminateAccount">
      <ul class="acc-list">
        <li>
          <a href="<%= user_path(current_user) %>" data-confirm= 'Are you sure?' data-method='delete'><i class=
          "icon-cancel-circled"></i> Close account</a>
        </li>
      </ul>
    </div>
  </div>
</div>
