<div class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 page-sidebar">
            <aside>
              <%= render 'user_sidebar' %>
            </aside>
          </div>
          <div class="col-sm-9 page-content">
            <div class="inner-box">
              <div class="row">
                <div class="col-md-5 col-xs-4 col-xxs-12">
                  <h3 class="no-padding text-center-480 useradmin"><a href=
                  "">
                  <%= image_tag("default-profile.png", :class => "userImg") %>
                  <%= current_user.name %></a></h3>
                </div>
                <div class="col-md-7 col-xs-8 col-xxs-12">
                  <div class="header-data text-center-xs">

                    <div class="hdata">
                      <div class="mcol-left">
                        <i class="icon-th-thumb ln-shadow"></i>
                      </div>
                      <div class="mcol-right">
                        <p><a href="#"><%= @my_ads_count %> </a><em>Ads</em></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <!-- <div class="hdata">
                      <div class="mcol-left">
                        <i class="fa fa-user ln-shadow"></i>
                      </div>
                      <div class="mcol-right">
                        <p><a href="#">18</a> <em>Favorites</em></p>
                      </div>
                      <div class="clearfix"></div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="inner-box">
              <div class="welcome-msg">
                <h3 class="page-sub-header2 clearfix no-padding">Hello 
                <%= current_user.name %>
                </h3><span class="page-sub-header-sub small">Your last login time was <%= time_ago_in_words(current_user.last_login) %> ago </span>
              </div>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" href=
                    "#collapseB1">Profile</a></h4>
                  </div>
                  
                   <div class="panel-collapse collapse in" id="collapseB1">
                    <div class="panel-body">
                      <!-- <form class="form-horizontal" role="form"> -->
                      <%= form_for(current_user, html: { method: :put, class: "form-horizontal" }) do |f| %>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">First
                          Name</label>
                          <div class="col-sm-9">
                            <%= f.text_field :first_name, class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Last
                          name</label>
                          <div class="col-sm-9">
                          	<%= f.text_field :last_name, class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Email</label>
                          <div class="col-sm-9">
                          	<%= f.email_field :email, class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Location</label>
                          <div class="col-sm-9">
                          <%= f.text_area :location, class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for=
                          "Phone">Phone</label>
                          <div class="col-sm-9">
                          	<%= f.text_field :phone, class: "form-control" %>
                          </div>
                        </div>
                        <!-- <div class="form-group hide">
                          <label class="col-sm-3 control-label">Facebook
                          account map</label>
                          <div class="col-sm-9">
                            <div class="form-control">
                              <a class="link" href="fb.com">Jhone.doe</a>
                              <a class="fa fa-minus-circle" class="" style=
                              "font-style: italic"></a>
                            </div>
                          </div>
                        </div> -->
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9"></div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                            <%= f.submit "Update", class: "btn btn-success" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" href=
                    "#collapseB2">Password</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseB2">
                    <div class="panel-body">
                    <span class="page-sub-header-sub small">
                      You'll be signed out once you successfully change your password !
                    </span>
                    <br><br>
                      <%= form_for(current_user, html: { method: :put, class: "form-horizontal" }) do |f| %>
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label class="col-sm-3 control-label">New
                          Password</label>
                          <div class="col-sm-9">
                            <%= f.password_field :password, class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Confirm
                          Password</label>
                          <div class="col-sm-9">
                          <%= f.password_field :password_confirmation, class: "form-control" %>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                            <%= f.submit "Update", class: "btn btn-success" %>
                            <% end %>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" href=
                    "#collapseB3">Mail Preferences</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseB3">
                    <div class="panel-body">
	                      <%= form_for(current_user, html: { method: :put, class: "form-horizontal" }) do |f| %>
	                      <div class="form-group">
	                        <div class="col-sm-12">
	                          <div class="checkbox">
	                            <%= f.check_box :newsletter %>
	                            <%= f.label 'I want to receive occasional newsletters' %>
	                          </div>
	                          <div class="checkbox">
	                            <%= f.check_box :mail_com %>
	                            <%= f.label 'Notifications about my posted ads and wish list.' %>
	                          </div>
                            <br>
	                          <div class="form-group">
                          		<div class="col-sm-offset-3 col-sm-9">
                            		<%= f.submit "Update", class: "btn btn-success" %>
                          		</div>
                        		</div>
	                        </div>
	                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

