    <div class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 page-sidebar">
            <aside>
              <%= render 'user_sidebar' %>
            </aside>
          </div>
          <div class="col-sm-9 page-content">
            <div class="inner-box">
              <h2 class="title-2"><i class="icon-docs"></i>My Advertisements</h2>
                <h3><p> Advertisements posted by me.</p></h3>
                <div class="table-responsive">
                  <%= render 'ad_list' %>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
