<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 login-box">
        <div class="panel panel-default">
          <div class="panel-intro text-center">
            <h2 class="logo-title">
            <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Moto<span>Baba </span> </h2>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="field">
                <%= f.label :password, "New password:"%><br />
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <div class="input-icon"> <i class="icon-user fa"></i>
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Confirm new password:"%><br />
                <div class="input-icon"> <i class="icon-user fa"></i>
                <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
                </div>
              </div>
             <br />
              <div class="form-group">
                <%= f.submit "Change my password" , class: "btn btn-primary btn-lg btn-block" %>
              </div>
            <% end %>
          </div>
          <div class="panel-footer">
            <%= link_to "Back to Login", new_user_session_path, :class => "text-center", method: :get%>
            <div style=" clear:both"></div>
            </div>
          </div>
          <div class="login-box-btm text-center">
            <p> Don't have an account? <br>
              <%= link_to "Sign Up ! ", new_user_registration_path, method: :get%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><%#= render "devise/shared/links" %>
