<div class="footer" id="footer">
	<div class="container">
		<ul class=" pull-left navbar-link footer-nav">
			<li>
				<a href="<%= root_path %>"> Home </a>
				<a href="<%= about_us_path %>"> About us </a>
				<a href="<%= site_tos_path %>"> Terms and Conditions </a>
				<a href="<%= privacy_policy_path %>"> Privacy Policy </a>
				<a href="<%= contact_us_path %>"> Contact us </a>
				<a href="<%= faq_path %>"> FAQ </a>
			</li>
		</ul>
	</div>
</div>
