<div class="header">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <nav class="navbar   navbar-site navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="<%= root_path %>" class="navbar-brand logo logo-title">
        <span class="logo-icon"><%= image_tag 'mb_logo.png', :alt => "Motobaba", :width => 60, :height => 60, :title => "Motobaba" %></i> </span> MOTO<span>BABA </span> </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li>
          <%= link_to('Dashboard', users_dashboard_path, :method => :get) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
          <li><a href="<%= new_user_registration_path %>">Signup</a></li>
        <% end %>
          <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger" href="<%= new_ad_path %>" data-no-turbolink >Post Free Add</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
