
<div class="intro-inner">
  <div class="about-intro" style="
  background:url(<%= asset_path 'bg2.jpg' %>) no-repeat center;
  background-size:cover;">
  <div class="dtable hw100">
    <div class="dtable-cell hw100">
      <div class="container text-center">
        <h1 class="intro-title animated fadeInDown"> Building great vehicle market ! </h1>
      </div>
    </div>
  </div>
</div>

</div>

<div class="main-container inner-page">
  <div class="container">
    <div class="section-content">
      <div class="row ">
        <h1 class="text-center title-1"> What Makes Us Special </h1>
        <hr class="center-block small text-hr">
        <div class="col-sm-6">
          <div class="text-content has-lead-para text-left">
            <p class="lead">Howdy ? We are a group of  motor vehicle enthusiasts, we created this platform to help sellers and buyers to meet and do business. We sense that UAE lacked a better open platform for motor vehicle where everybody can sell, buy and contribute. </p>
            <p class="lead">This is our first venture as a company, Motobaba helps you to find sellers for your vehicle and also getting an awesome car for your budget at ZERO cost. Motobaba offers free local classified ads in UAE. Motobaba is the next generation of free online classifieds. </p>
            <p class="lead"> You can post your ads about vechicle which will attract buyers from all around UAE, leading to a perfect sell. All you need to do is click "Post Free Ad" button and follow simple steps.</p>
            <p class="lead"> We provide elegant solutions to buyers as well, including safe buy, free checkups and more. We try our best to ensure that you enjoy a happy and safe market place.</p>
          </div>
        </div>
        <div class="col-sm-6"> <img src="<%= asset_path 'info.png' %>" alt="imfo" class="img-responsive"> </div>
      </div>
    </div>
  </div>
</div>

<div class="parallaxbox about-parallax-bottom">
  <div class="container">
    <div class="row text-center featuredbox">
      <div class="col-sm-4 xs-gap">
        <div class="inner">
          <div class="icon-box-wrap"> <i class="icon-book-open ln-shadow-box shape-3"></i></div>
          <h3 class="title-4">Customer service</h3>
          <p>We've 24/7 email support for customer queries and help. Any problem/issue in site ? shoot us a mail and we'll take care of rest ! We are available at admin@mmotobaba.com</p>
        </div>
      </div>
      <div class="col-sm-4 xs-gap">
        <div class="inner">
          <div class="icon-box-wrap"> <i class=" icon-lightbulb ln-shadow-box shape-6"></i></div>
          <h3 class="title-4">Seller satisfaction</h3>
          <p>Sellers are important part of our website, apart from email support we offer 24/7 phone support for verified sellers. As a verified seller you are able to showcase your ad at featured places, receive offers and more.</p>
        </div>
      </div>
      <div class="col-sm-4 xs-gap">
        <div class="inner">
          <div class="icon-box-wrap"> <i class="icon-megaphone ln-shadow-box shape-5"></i></div>
          <h3 class="title-4">Best Offers </h3>
          <p>As a part of site promotion, we run various promotional contests at random occations, visit every day and stay connected to get exciting offers and gifts. </p>
        </div>
      </div>
    </div>
  </div>
</div>
