<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="intro-inner">
    <div class="contact-intro">
      <div class="w100 map">
        <iframe frameborder="0" height="350" src=
        "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26081603.294420466!2d-95.677068!3d37.06250000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1423809000824"
        style="border:0" width="100%"></iframe>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-4">
          <div class="contact_info">
            <h5 class="list-title gray"><strong>Contact us</strong></h5>
            <div class="social-list">
              <a href="https://twitter.com/" target="_blank"><i class=
              "fa fa-twitter fa-lg"></i></a> <a href=
              "https://www.facebook.com/" target="_blank"><i class=
              "fa fa-facebook fa-lg"></i></a> <a href="https://plus.google.com"
              target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
              <a href="https://www.pinterest.com/" target="_blank"><i class=
              "fa fa-pinterest fa-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <h5 class="list-title gray"><strong>Contact us</strong></h5>
            <!-- <form class="form-horizontal" method="post"> -->
            <%= form_tag 'enquiry_mail',class:"form-horizontal" do |f| %>
<fieldset>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="col-md-12">
                        <input class="form-control" id="firstname" name="first_name"
                        placeholder="First Name" type="text" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="col-md-12">
                        <input class="form-control" id="lastname" name="last_name"
                        placeholder="Last Name" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="col-md-12">
                        <input class="form-control" id="companyname" name=
                        "company_name" placeholder="Company Name" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="col-md-12">
                        <input class="form-control" id="email" name="email"
                        placeholder="Email Address" type="email" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-md-12">
                        <textarea class="form-control" id="message" name=
                        "message" placeholder=
                        "Enter your massage for us here. We will get back to you within 2 business days."
                        rows="7" required>
</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" type=
                        "submit">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            <!-- </form> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
