
  <div class="intro-inner">
    <div class="about-intro" style=
    "background:url(<%= asset_path 'bg2.jpg' %>) no-repeat center; background-size:cover;">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
          <div class="container text-center">
            <h1 class="intro-title animated fadeInDown">Frequently Asked
            Questions</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container inner-page">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <h1 class="text-center title-1">classified ads
          <strong>FAQ</strong></h1>
          <hr class="center-block small text-hr">
        </div>
        <div class="faq-content">
          <div aria-multiselectable="true" class="panel-group faq-panel" id=
          "accordion" role="tablist">
            <div class="panel">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title"><a aria-controls="collapseOne"
                aria-expanded="true" data-parent="#accordion" data-toggle=
                "collapse" href="#collapseOne">How do I place an ad?</a></h4>
              </div>
              <div aria-labelledby="headingOne" class=
              "panel-collapse collapse in" id="collapseOne" role="tabpanel">
                <div class="panel-body">
                Click on "Post Free Ad" button on top-right corner, if you are not logged in you should login. Follow simple procedure to post your free ad.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="headingTwo" role="tab">
                <h4 class="panel-title"><a aria-controls="collapseTwo"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapseTwo">What
                does it cost to advertise?</a></h4>
              </div>
              <div aria-labelledby="headingTwo" class="panel-collapse collapse"
              id="collapseTwo" role="tabpanel">
                <div class="panel-body">
                We believe in a open platform where everybody can pool in, it's absolutely free to post Ads in Motobaba.com. Well, we are planning to add some featured plans soon.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="headingThree" role="tab">
                <h4 class="panel-title"><a aria-controls="collapseThree"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapseThree">If I
                post an ad, will I also get more spam e-mails?</a></h4>
              </div>
              <div aria-labelledby="headingThree" class=
              "panel-collapse collapse" id="collapseThree" role="tabpanel">
                <div class="panel-body">
                  No, you won't get any SPAM mails from us or any of our assosiates. if you are very sensitive about email, you could hide your email while posting ads, we give every privacy option possible to make your experiance better.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_04" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_04"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_04">How
                long will my ad remain on the website?</a></h4>
              </div>
              <div aria-labelledby="heading_04" class="panel-collapse collapse"
              id="collapse_04" role="tabpanel">
                <div class="panel-body">
                  Your ad will last on Motobaba untill you delete it, there isn't a expiration period for advertisements even it's free.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_05" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_05"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_05">I sold
                my item. How do I delete my ad?</a></h4>
              </div>
              <div aria-labelledby="heading_05" class="panel-collapse collapse"
              id="collapse_05" role="tabpanel">
                <div class="panel-body">
                  You could make your ad status as "Sold out", so it won't appear on ad listing or anywhere seller searches, also you could delete it if wanted, choice is yours.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_06" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_06"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_06">How do I contact you ?</a></h4>
              </div>
              <div aria-labelledby="heading_06" class="panel-collapse collapse"
              id="collapse_06" role="tabpanel">
                <div class="panel-body">
                  Git stuck somewhere ? Need any help ? Shoot a mail admin@motobaba.com, we'll be available 24/7.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallaxbox about-parallax-bottom">
    <div class="container">
      <div class="row text-center featuredbox">
        <div class="col-sm-4 xs-gap">
          <div class="inner">
            <div class="icon-box-wrap">
              <i class="icon-book-open ln-shadow-box shape-3"></i>
            </div>
            <h3 class="title-4">Customer service</h3>
            <p>We've 24/7 email support for customer queries and help. Any problem/issue in site ? shoot us a mail and we'll take care of rest ! We are available at admin@mmotobaba.com</p>
          </div>
        </div>
        <div class="col-sm-4 xs-gap">
          <div class="inner">
            <div class="icon-box-wrap">
              <i class=" icon-lightbulb ln-shadow-box shape-2"></i>
            </div>
            <h3 class="title-4">Seller satisfaction</h3>
            <p>Sellers are important part of our website, apart from email support we offer 24/7 phone support for verified sellers. As a verified seller you are able to showcase your ad at featured places, receive offers and more.</p>
          </div>
        </div>
        <div class="col-sm-4 xs-gap">
          <div class="inner">
            <div class="icon-box-wrap">
              <i class="icon-megaphone ln-shadow-box shape-7"></i>
            </div>
            <h3 class="title-4">Best Offers</h3>
            <p>As a part of site promotion, we run various promotional contests at random occations, visit every day and stay connected to get exciting offers and gifts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

