<div class="intro">
	<div class="dtable hw100">
		<div class="dtable-cell hw100">
			<div class="container text-center">
        <%= form_tag ads_path, method: 'GET'  do %>
  				<h1 class="intro-title animated fadeInDown"> Buy/Sell your vechicle </h1>
  				<p class="sub animateme fittext3 animated fadeIn"> Want to sell/buy a car ? don't think twice, just post an ad. </p>
          <div class="row search-row animated fadeInUp">
            <div class="col-lg-3 col-sm-4 search-col relative locationicon">
              <i class="icon-location-2 icon-append"></i>
              <%= select_tag :emirate, options_from_collection_for_select(Emirate.all, 'id', 'name'), prompt: 'All City', class: 'form-control locinput input-rel searchtag-input has-icon' %>
            </div>
            <div class="col-lg-3 col-sm-4 search-col relative"> <i class="icon-docs icon-append"></i>
              <%= select_tag :brand, options_from_collection_for_select(Brand.all, 'id', 'name'), prompt: 'All Make', class: 'form-control locinput input-rel searchtag-input has-icon' %>
            </div>
            <div class="col-lg-3 col-sm-4 search-col relative"> <i class="icon-docs icon-append"></i>
              <%= select_tag :model, options_from_collection_for_select(@models, 'id', 'name'), prompt: 'All Model', class: 'form-control locinput input-rel searchtag-input has-icon' %>
            </div>
            <div class="col-lg-3 col-sm-4 search-col">
              <button class="btn btn-primary btn-search btn-block"><i class="icon-search"></i><strong>Find</strong></button>
            </div>
          </div>
        <% end %>
			</div>
		</div>
	</div>
</div>


<div class="page-info" style="background: url(<%= asset_path('bottom_image.jpg') %>); background-size:cover">
  <div class="container text-center section-promo">
     <div class="row">
        <div class="col-sm-3 col-xs-6 col-xxs-12">
           <div class="iconbox-wrap">
              <div class="iconbox">
                 <div class="iconbox-wrap-icon">
                    <i class="icon  icon-group"></i>
                 </div>
                 <div class="iconbox-wrap-content">
                    <h5><span>1,000+</span> </h5>
                    <div class="iconbox-wrap-text">Trusted users</div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-3 col-xs-6 col-xxs-12">
           <div class="iconbox-wrap">
              <div class="iconbox">
                 <div class="iconbox-wrap-icon">
                    <i class="icon  icon-th-large-1"></i>
                 </div>
                 <div class="iconbox-wrap-content">
                    <h5><span>1,000+</span> </h5>
                    <div class="iconbox-wrap-text">Ads</div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-3 col-xs-6  col-xxs-12">
           <div class="iconbox-wrap">
              <div class="iconbox">
                 <div class="iconbox-wrap-icon">
                    <i class="icon  icon-map"></i>
                 </div>
                 <div class="iconbox-wrap-content">
                    <h5><span>7+</span> </h5>
                    <div class="iconbox-wrap-text">Cities</div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-3 col-xs-6 col-xxs-12">
           <div class="iconbox-wrap">
              <div class="iconbox">
                 <div class="iconbox-wrap-icon">
                    <i class="icon icon-facebook"></i>
                 </div>
                 <div class="iconbox-wrap-content">
                    <h5><span>10,000+</span> </h5>
                    <div class="iconbox-wrap-text"> Facebook Fans</div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
