
  <div class="intro-inner">
    <div class="about-intro" style=
    "background:url(<%= asset_path 'bg2.jpg' %>) no-repeat center; background-size:cover;">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
          <div class="container text-center">
            <h1 class="intro-title animated fadeInDown">Privacy Policy</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container inner-page">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <h1 class="text-center title-1">Privacy Policy
          <strong></strong></h1>
          <hr class="center-block small text-hr">
        </div>
        <div class="faq-content">
          <div aria-multiselectable="true" class="panel-group faq-panel" id=
          "accordion" role="tablist">
            <div class="panel">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title"><a aria-controls="collapseOne"
                aria-expanded="true" data-parent="#accordion" data-toggle=
                "collapse" href="#collapseOne">Privacy and Confidentiality</a></h4>
              </div>
              <div aria-labelledby="headingOne" class=
              "panel-collapse collapse in" id="collapseOne" role="tabpanel">
                <div class="panel-body">
                Thank you for accessing the Motobaba.com website ("Site"). We respect your privacy and want to protect your personal information. To learn more, please read this Privacy Policy. This Privacy Policy explains how we collect, use and (under certain conditions) disclose your personal information. This Privacy Policy also explains the steps we have taken to secure your personal information. Finally, this Privacy Policy explains your options regarding the collection, use and disclosure of your personal information. By visiting the Site directly or through another site, you accept the practices described in this Policy. Data protection is a matter of trust and your privacy is important to us. We shall therefore only use your name and other information which relates to you in the manner set out in this Privacy Policy. We will only collect information where it is necessary for us to do so and we will only collect information if it is relevant to our dealings with you. We will only keep your information for as long as we are either required to by law or as is relevant for the purposes for which it was collected. You can visit the Site and browse without having to provide personal details. During your visit to the Site you remain anonymous and at no time can we identify you unless you have an account on the Site and log on with your user name and password.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="headingTwo" role="tab">
                <h4 class="panel-title"><a aria-controls="collapseTwo"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapseTwo">Data that we collect</a></h4>
              </div>
              <div aria-labelledby="headingTwo" class="panel-collapse collapse"
              id="collapseTwo" role="tabpanel">
                <div class="panel-body">
                We may collect various pieces of information if you seek to place an order for a product with us on the Site. 

    We collect, store and process your data for processing your purchase on the Site and any possible later claims, and to provide you with our services. We may collect personal information including, but not limited to, your title, name, gender, date of birth, email address, postal address, delivery address (if different), telephone number, mobile number, fax number, payment details, payment card details or bank account details. 
    <br/>
    We will use the information you provide to enable us to process your orders and to provide you with the services and information offered through our website and which you request. Further, we will use the information you provide to administer your account with us; verify and carry out financial transactions in relation to payments you make online; audit the downloading of data from our website; improve the layout and/or content of the pages of our website and customize them for users; identify visitors on our website; carry out research on our users' demographics; send you information we think you may find useful or which you have requested from us, including information about our products and services, provided you have indicated that you have not objected to being contacted for these purposes. Subject to obtaining your consent we may contact you by email with details of other products and services. If you prefer not to receive any marketing communications from us, you can opt out at any time. 
    <br/>
    We may pass your name and address on to a third party in order to make delivery of the product to you (for example to our courier or supplier). 
  
    Payments that are made through the Site will be processed by our relevant agent. You must only submit to us or our Agent or the Site information that is accurate and not misleading and you must keep it up to date and inform us of changes. Your actual order details may be stored with us but for security reasons cannot be retrieved directly by us. However, you may access this information by logging into your account on the Site. Here you can view the details of your orders that have been completed, those that are open and those that are shortly to be dispatched and administer your address details, bank details and any newsletter to which you may have subscribed. You undertake to treat the personal access data confidentially and not make it available to unauthorized third parties. We cannot assume any liability for misuse of passwords unless this misuse is our fault. 
    <br/>
    If you choose to provide us with personal information, you consent to the transfer and storage of that information on our servers.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="headingThree" role="tab">
                <h4 class="panel-title"><a aria-controls="collapseThree"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapseThree">Other uses of your personal information</a></h4>
              </div>
              <div aria-labelledby="headingThree" class=
              "panel-collapse collapse" id="collapseThree" role="tabpanel">
                <div class="panel-body">
                  We may use your personal information for opinion and market research. Your details are anonymous and will only be used for statistical purposes. You can choose to opt out of this at any time. Any answers to surveys or opinion polls we may ask you to complete will not be forwarded on to third parties. Disclosing your email address is only necessary if you would like to take part in competitions. We save the answers to our surveys separately from your email address. 
<br/>
We may also send you other information about us, the Site, our other websites, our products, sales promotions, our newsletters, anything relating to other companies in our group or our business partners. If you would prefer not to receive any of this additional information as detailed in this paragraph (or any part of it) please click the 'unsubscribe' link in any email that we send to you. Within 7 working days (days which are neither (i) a Saturday nor Sunday, nor (ii) a public holiday anywhere in Motobaba.com) of receipt of your instruction we will cease to send you information as requested. If your instruction is unclear we will contact you for clarification. 
<br/>
We may further anonymize data about users of the Site generally and use it for various purposes, including ascertaining the general location of the users and usage of certain aspects of the Site or a link contained in an email to those registered to receive them, and supplying that anonymized data to third parties such as publishers. However, that anonymized data will not be capable of identifying you personally.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_04" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_04"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_04">Our Disclosure of Your Information</a></h4>
              </div>
              <div aria-labelledby="heading_04" class="panel-collapse collapse"
              id="collapse_04" role="tabpanel">
                <div class="panel-body">
                  We may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content violates the rights of others, or protect anyone’s rights, property or safety. Such information will be disclosed in accordance with applicable laws and regulations. We may also share your personal information:
<br/>
1. Third parties to provide joint content and services (like registration, transactions and customer support), to help detect and prevent potentially illegal acts and violations of our policies, and to guide decisions about their products, services and communications. These third parties will use this information to send you marketing communications only if you’ve requested their services.
<br/>
2. Service providers under contract who help with our business operations (such as fraud investigations, bill collection, affiliate and rewards programs and customer support).
<br/>
3. Other third parties to whom you explicitly ask us to send your information (or about whom you are otherwise explicitly notified and consent to when using a specific service).
<br/>
4. Law enforcement agencies, other governmental agencies or third parties in response to a request for information relating to a criminal investigation, alleged illegal activity or any other activity that may expose us, you or any other Motobaba.com user to legal liability. The personal information we disclose may include your User ID and User ID history, name, city, county, telephone number, email address, fraud complaints and bidding and listing history or anything else that we deem relevant.
<br/>
5. Other agencies in connection with an investigation of fraud, intellectual property infringement, piracy, or other unlawful activity, as we in our sole discretion believe necessary or appropriate, either under confidentiality agreement or as required by law. In such circumstances, we may disclose name, street address, city, county, postcode, country, phone number, email address and company name.
<br/>
6. Other business entities, should we plan to merge with or be acquired by that business entity. (Should such a combination occur, we will require that the new combined entity follow this privacy policy with respect to your personal information. If your personal information will be used contrary to this policy, you will receive prior notice.)
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_05" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_05"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_05">Competitions</a></h4>
              </div>
              <div aria-labelledby="heading_05" class="panel-collapse collapse"
              id="collapse_05" role="tabpanel">
                <div class="panel-body">
                  For any competition we use the data to notify winners and advertise our offers. You can find more details where applicable in our participation terms for the respective competition.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_06" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_06"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_06">Third Parties and Links</a></h4>
              </div>
              <div aria-labelledby="heading_06" class="panel-collapse collapse"
              id="collapse_06" role="tabpanel">
                <div class="panel-body">
                  We may pass your details to other companies in our group. We may also pass your details to our agents and subcontractors to help us with any of our uses of your data set out in our Privacy Policy. For example, we may use third parties to assist us with delivering products to you, to help us to collect payments from you, to analyze data and to provide us with marketing or customer service assistance. We may exchange information with third parties for the purposes of fraud protection and credit risk reduction. We may transfer our databases containing your personal information if we sell our business or part of it. Other than as set out in this Privacy Policy, we shall NOT sell or disclose your personal data to third parties without obtaining your prior consent unless this is necessary for the purposes set out in this Privacy Policy or unless we are required to do so by law. The Site may contain advertising of third parties and links to other sites or frames of other sites. Please be aware that we are not responsible for the privacy practices or content of those third parties or other sites, nor for any third party to whom we transfer your data in accordance with our Privacy Policy.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_07" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_07"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_07">No Spam, Spyware or Spoofing</a></h4>
              </div>
              <div aria-labelledby="heading_07" class="panel-collapse collapse"
              id="collapse_07" role="tabpanel">
                <div class="panel-body">
                  We and our users do not tolerate spam. Make sure to set your ‘Motobaba.com’ communication preferences so we communicate to you as you prefer. You are not licensed to contact other ‘‘Motobaba.com’ users without their express consent. To report ‘‘Motobaba.com’ -related spam or spoof emails to ‘‘Motobaba.com’, please report it to us. You may not use our communication tools to send spam or otherwise send content that would breach our User Agreement.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_08" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_08"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_08">Account Protection</a></h4>
              </div>
              <div aria-labelledby="heading_08" class="panel-collapse collapse"
              id="collapse_08" role="tabpanel">
                <div class="panel-body">
                  Your password is the key to your account. Use unique numbers, letters and special characters, and do not disclose your ‘‘Motobaba.com’ password to anyone. If you do share your password or your personal information with others, remember that you are responsible for all actions taken in the name of your account. If you lose control of your password, you may lose substantial control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately notify ‘Motobaba.com’ and change your password.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_09" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_09"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_09">Security</a></h4>
              </div>
              <div aria-labelledby="heading_09" class="panel-collapse collapse"
              id="collapse_09" role="tabpanel">
                <div class="panel-body">
                  Your information is stored on our servers. We treat data as an asset that must be protected and use lots of tools (encryption, passwords, physical security, etc.) to protect your personal information against unauthorized access and disclosure. However, as you probably know, third parties may unlawfully intercept or access transmissions or private communications, and other users may abuse or misuse your personal information that they collect from the site. Therefore, although we work very hard to protect your privacy, we do not promise that your personal information or private communications will always remain private.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_10" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_10"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_10">Cookies</a></h4>
              </div>
              <div aria-labelledby="heading_10" class="panel-collapse collapse"
              id="collapse_10" role="tabpanel">
                <div class="panel-body">
                  The acceptance of cookies is not a requirement for visiting the Site. However we would like to point out that the use of the 'basket' functionality on the Site and ordering is only possible with the activation of cookies. Cookies are tiny text files which identify your computer to our server as a unique user when you visit certain pages on the Site and they are stored by your Internet browser on your computer's hard drive. Cookies can be used to recognize your Internet Protocol address, saving you time while you are on, or want to enter, the Site. We only use cookies for your convenience in using the Site (for example to remember who you are when you want to amend your shopping cart without having to re-enter your email address) and not for obtaining or using any other information about you (for example targeted advertising). Your browser can be set to not accept cookies, but this would restrict your use of the Site. Please accept our assurance that our use of cookies does not contain any personal or private details and are free from viruses. If you want to find out more information about cookies, go to //www.allaboutcookies.org or to find out about removing them from your browser, go to //www.allaboutcookies.org/manage-cookies/index.html.
                  <br/>
                  This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses cookies, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_11" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_11"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_11">Security</a></h4>
              </div>
              <div aria-labelledby="heading_11" class="panel-collapse collapse"
              id="collapse_11" role="tabpanel">
                <div class="panel-body">
                  We have in place appropriate technical and security measures to prevent unauthorized or unlawful access to or accidental loss of or destruction or damage to your information. When we collect data through the Site, we collect your personal details on a secure server. We use firewalls on our servers. When we collect payment card details electronically, we use encryption by using Secure Socket Layer (SSL) coding. While we are unable to guarantee 100% security, this makes it hard for a hacker to decrypt your details. You are strongly recommended not to send full credit or debit card details in unencrypted electronic communications with us. We maintain physical, electronic and procedural safeguards in connection with the collection, storage and disclosure of your information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you. You are responsible for protecting against unauthorized access to your password and to your computer.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_12" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_12"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_12">Your rights</a></h4>
              </div>
              <div aria-labelledby="heading_12" class="panel-collapse collapse"
              id="collapse_12" role="tabpanel">
                <div class="panel-body">
                  If you are concerned about your data you have the right to request access to the personal data which we may hold or process about you. You have the right to require us to correct any inaccuracies in your data free of charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing purposes. ‘Motobaba.com.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" id="heading_13" role="tab">
                <h4 class="panel-title"><a aria-controls="collapse_13"
                aria-expanded="false" class="collapsed" data-parent=
                "#accordion" data-toggle="collapse" href="#collapse_13">General</a></h4>
              </div>
              <div aria-labelledby="heading_13" class="panel-collapse collapse"
              id="collapse_13" role="tabpanel">
                <div class="panel-body">
                  We may amend this Privacy Policy at any time by posting the amended terms on this site.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


