
<% if @result == true %>
  $('#alert').text('This advertisement has been shortlisted, visit your dashboard to see this ad later.').attr('class', 'alert alert-success pgray  alert-lg');
<% elsif @result == 'exist' %>
  $('#alert').text('This advertisement is already in your shortlist, visit dashboard to view/remove it.').attr('class', 'alert alert-info pgray  alert-lg');
<% elsif @result == 'nologin' %>
    $('#alert').text('You are not logged in, please login to use Ad Shortlisting.').attr('class', 'alert alert-info pgray  alert-lg');
<% else %>
  $('#alert').text('Something went wrong, please try after sometime.').attr('class', 'alert alert-danger pgray  alert-lg');
<% end %>
$('#alert').show();