<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 login-box">
        <div class="panel panel-default">
          <div class="panel-intro text-center">
            <h2 class="logo-title">
           
            <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> MOTO<span>BABA </span> </h2>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <label for="sender-email" class="control-label">Email:</label>
                <div class="input-icon"> <i class="icon-user fa"></i>
                <%= f.email_field :email, autofocus: true ,:id=>"sender-email",:placeholder=>"Email", :class=>"form-control email"%>
                 
                </div>
              </div>
              <div class="form-group">
                <label for="user-pass" class="control-label">Password:</label>
                <div class="input-icon"> <i class="icon-lock fa"></i>
                <%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>"Password", :id=>"user-pass" %>
           
                </div>
              </div>
              <div class="form-group">
                <%= f.submit "Submit",:class=>"btn btn-primary  btn-block" %>
              </div>
            <% end %>
          </div>
          <div class="panel-footer">
            <label class="checkbox pull-left">
            <input type="checkbox" value="1" name="remember" id="remember">
          Keep me logged in </label>
            <p class= "text-center pull-right">
            <%= link_to "Lost your password?", new_password_path(resource_name), :class => "text-center pull-right", method: :get%>
            </p>
            <div style=" clear:both"></div>
          </div>
          </div>
            <div class="login-box-btm text-center">
          <p> Don't have an account? <br>
          <a href="<%= new_registration_path(resource_name) %>"><strong>Sign Up !</strong> </a> </p>
          </div>
      </div>
    </div>
  </div>
</div>