/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fileinput.min
 *= require bootstrap.min
 *= require style.css
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 *= require custom.css
 *= require jquery.bxslider
 *= require jquery.datetimepicker
 *= require ads
 *= require home
 *= require font-awesome
 */

.cat-list {
  margin-left: 30px !important;
}

.share-div{
	display: none;
}

.owl-controls{
	display: none !important;
}
