<!DOCTYPE html>
<html>
<head>
  <title>Motobaba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'shared/header' %>
    <% if flash[:notice] %>
      <p class="alert alert-success pgray  alert-lg role='alert'"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger pgray  alert-lg role='danger'"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>

